<div>
<form class="login" (submit)="onSubmit($event)">
    <h1> Voter Login</h1>
    <input type="text" placeholder="ID" id="ID">  
    <input type="password" placeholder="password" id="password">  
    <input type="submit" value="LOGIN">
</form>
</div>