/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}   
/* start header */
.header_bg{
	background:#000000;
	position: relative;
}
.logo{
	position: absolute;
	left: 0%;
	right:2%;
	z-index: 999;
	top:-25px;
	text-align: center;
	width:14%;
	margin: 0 auto;
}
.logo a img {
    width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    padding: 0;
}
.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li {
    margin:0 1.8em 1em;
}
.navbar-default .navbar-nav > li:nth-child(3) {
	margin: 0 0em 1em 1.4em;
}
.navbar-default .navbar-nav > li:nth-child(4){
	margin:0 .5em 1em 18.5em;
}
li.act a{
	border-bottom:1px solid #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size:1.2em;
    padding:30px 10px 10px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
/*-- dropdown --*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: none;
}
ul.multi-column-dropdown li {
    list-style-type: none;
}
ul.multi-column-dropdown li a{
	font-size:1em;
	color:#000;
	text-decoration:none;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
ul.multi-column-dropdown li a {
    padding:0.3em 1.5em;
    display: block;
}
.columns-3 {
    border-radius: 0;
    margin: 0;
    top: 110%;
    left: -17%;
}
/*-- //dropdown --*/
/*-- banner-info --*/
.banner-info {
    margin: 0 auto;
    padding: 35em 0 0;
    width: 85%;
}
.dummy_text {
    padding: 2em;
    background:rgba(255, 255, 255, 0.38);
}
.dummy_text h1 {
    font-size: 2em;
    color: #fff;
    margin: 0;
    line-height: 1.5em;
	text-align:center;
	position:relative;
	padding-left: 2em;
}
.dummy_text h1:before {
	background:url(../images/1.png) no-repeat 0px 0px;
	display:block;
	width:56px;
	height:48px;
	content:'';
	position:absolute;
	top:0%;
	left:0%;
}
/*-- //banner-info --*/
.header_bottom {
	position: absolute;
	width: 100%;
	height: 40px;
}
/*-- banner --*/
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 800px;
}
.banner1{
	background:url(../images/banner_1.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height:500px;
}
/*-- //banner --*/
/*-- banner-bottom1 --*/
.banner-bottom1-left{
	text-align: center;
    border-top:5px solid #DF1728;
    background: #F1F1F1;
    padding: 4em 0;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.banner-bottom1-left:hover{
	background:#DF1728;
	border-top:5px solid #fff;
}
.banner-bottom1-left1:hover{
	background:rgb(255, 255, 255);
}
.banner-bottom1-left2:hover{
	background:rgb(255, 255, 255);
}
.banner-bottom1-left:hover .banner-bottom1-lft span{
    -webkit-transform: scale(1.25) translateY(-5px);
    transform: scale(1.25) translateY(-5px);
	color:#fff;
}
.banner-bottom1-left:hover .banner-bottom1-lft h3{
	color:#fff;
}
.banner-bottom1-left:hover .banner-bottom1-lft p{
	color:#fff;
}
.banner-bottom1-left1{
	border-top:5px solid rgb(255, 255, 255);
}
.banner-bottom1-left:nth-child(2){
	border-left:1px solid #DAD9D9;
	border-right:1px solid #DAD9D9;
}
.banner-bottom1-left2{
	border-top:5px solid rgb(255, 255, 255);
}
.banner-bottom1-left h3{
	text-transform:capitalize;
	font-size:1.5em;
	color:#DF1728;
	margin:0 0 .5em;
}
.banner-bottom1-left2 h3{
	color:#515C8E;
}
.banner-bottom1-left1 h3{
	color:#515C8E;
}
.banner-bottom1-left p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin:0;
}
.banner-bottom1-left span {
    color: #999;
    font-size: 2em;
    top: -0.5em;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
/*-- //banner-bottom1 --*/
/*-- banner-bottom --*/
.banner-bottom,.wlcome,.single,.footer-top,.about,.about-bottom,.typo,.contact,.contact-bottom,.conference{
	padding:5em 0;
}
/*-- about --*/
.about-grid1 .thumb {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.about-grid1 .thumb .caption {
    float: left;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 13px 30px;
    text-align: center;
    background-color:rgb(255, 255, 255);
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.about-grid1 .thumb:hover .caption {
    height: 100%;
    padding: 40px 30px;
    opacity: 1;
    visibility: visible;
}
figure.thumb img {
    width: 100%;
}
.caption h3{
	margin:0;
}
.caption h3 a{
	font-size:1em;
	color:#fff;
	text-decoration:none;
}
.caption span{
	font-size:14px;
	color:#fff;
	display:block;
}
.caption p{
	color:#fff;
	font-size:14px;
	margin:1em 0 0;
	line-height:1.8em;
}
.caption ul{
	padding:1em 0 0;
}
.caption ul li{
	list-style-type:none;
	display:inline-block;
}
.caption ul li a.f1{
	background: url(../images/img-sp.png) no-repeat -6px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
.caption ul li a.f1:hover{
	background: url(../images/img-sp.png) no-repeat -6px -59px;
    display: block;
}
.caption ul li a.f2{
	background: url(../images/img-sp.png) no-repeat -49px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
.caption ul li a.f2:hover{
	background: url(../images/img-sp.png) no-repeat -49px -58px;
    display: block;
}
.caption ul li a.f3{
	background: url(../images/img-sp.png) no-repeat -88px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
.caption ul li a.f3:hover{
	background: url(../images/img-sp.png) no-repeat -88px -58px;
    display: block;
}
/*-- wmuslider --*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	/*--max-width: 100%;
	width: auto;
	height: auto;
	display:block;--*/
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    right: 1%;
    bottom: 5%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width: 45px;
    height: 5px;
    background: #DADADA;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
}
.wmuSliderPagination a.wmuActive {
	background:#DF1728;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap{
	padding: 0 0 4em;
}
/*-- //wmuslider --*/
/*-- //banner-bottom --*/
/*-- wlcome --*/
.wlcome-grid-left h3,.services h2,.gallery h3,.about-grd h3,.about-bottom-grid-right h3,h3.title,.contact h3,.conference h3{
	font-size: 2em;
    color: #515C8E;
    text-transform: capitalize;
    position: relative;
    font-weight: 600;
    padding-left: 0.5em;
}
.wlcome-grid-left h3:before,.services h2:before,.gallery h3:before,.about-grd h3:before,.conference h3:before,.contact h3:before,.about-bottom-grid-right h3:before,h3.title:before{
	background: #DF1728;
    width: 4px;
    height: 35px;
	content:'';
	position:absolute;
	left:0%;
}
.nihil{
	font-size:14px;
	margin:0;
	line-height:1.8em;
	color:#999;
	padding-left: 1.5em;
}
.wlcome-grid-left-grid h4{
	font-size:1.3em;
	color:#A3A3A3;
	margin:0.5em 0 0;
	text-transform:capitalize;
}
.wlcome-grid-left-grid p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:1em 0 0;
}
.wlcome-grid-left-grid:nth-child(3){
	margin:4em 0;
}
/*-- services --*/
.services{
	padding:5em 0 0;
}
.services h5{
	font-size: 1em;
    color: #DF1728;
    margin: 1em 0;
    line-height: 1.8em;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: #515C8E;
    text-decoration: none;
}
.panel-title {
    font-size: 1.1em;
}
.panel-default > .panel-heading {
    background: none;
    border: none;
}
.panel-default {
    border: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}
.panel-heading {
    padding: 1em 0;
	text-transform:capitalize;
}
.panel-body {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}
.panel{
	box-shadow:none;
}
.pa_italic span{
	display:none;
}
.pa_italic i{
	left: -1em;
}
.collapsed span{
	display: inline-block;
    left: -1em;
}
.collapsed i{
	display:none;
}
h4.panel-title {
    padding-left: 1em;
}
h4.panel-title a span{
    left: -1em;
}
.panel-body {
    background: #FAFAFA;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	font-style: normal;
	position:relative;
}
.facts {
	padding:1.5em;
	border-bottom: 1px dotted #7480B7;
}
.top1{
	margin-top: 2%;
}
ul.resp-tabs-list {
	list-style: none;
	background:none;
	margin: 0em auto;
}
div#horizontalTab {
  background:#fff;
  }
.resp-tab-item{
	color: #999;
	font-size: 1.1em;
	cursor: pointer;
	padding:12px 47.5px;
	display: inline-block;
	margin: 0;
	list-style: none;
	float: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
}
.resp-tab-item:hover {
	text-shadow: none;
}
.resp-tab-active{
	background:#DF1728;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
	background-color:#515C8E;
	border-top:none;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#DF1728;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#4E64C5;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	padding:0em;
	margin:0;
}
/******** //SAP ************/
.tab_list{
	float:left;
	width: 35%;
}
.tab_list1{
	float:right;
	width:60%;
}
.tab_list1 a,.tab_list1 p{
	text-transform:capitalize;
	font-size:14px;
	color:#FFFFFF;
	margin:0;
	text-decoration:none;
}
.tab_list1 p{
	color:#B1B1B3;
}
.tab_list1 p span{
	display:block;
	font-size: 13px;
	margin: 10px 0 0;
}
.facts:nth-child(4) {
  border-bottom: none;
}
/*-- upcoming --*/
.upcoming{
    background: #DF1728;
}
.upcoming h4,.video h4{
	font-size: 1.5em;
    color: #fff;
    margin: 0;
    padding:1em .5em 1em 1.5em;
    border-bottom: 1px dotted #fff;
	position:relative;
}
.video h4{
	color:#515C8E;
	border-bottom:none;
	padding:0em 0em 0em 0.8em;
}
.upcoming h4:before,.video h4:before{
	background: #fff;
    width: 4px;
    height: 35px;
	content:'';
	position:absolute;
	left: 4%;
    top: 25%;
}
.video h4:before{
	background: #515C8E;
    top: -12% !important;
    left: 0% !important;
}
.upcoming ul{
	padding:1em 1.5em;
}
.upcoming ul li{
	list-style-type: none;
    padding: 0 0 .5em 2em;
    border-bottom: 1px dotted #BF1221;
    color: #E0DFDF;
    background: url(../images/3.png) no-repeat -3px 5px;
    font-size: 14px;
	margin-bottom:1em;
}
.upcoming ul li a{
	color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
	text-transform: capitalize;
}
.upcoming ul li a:hover{
	color:#515C8E;
}
.upcoming ul li span{
	display:block;
}
.video{
	margin: 2em 0;
}
.video iframe {
    width: 100%;
    min-height: 300px;
    margin: 2em 0 0;
}
/*-- //upcoming --*/
/*-- //wlcome --*/
/*-- footer --*/
.footer{
	background:#000;
	padding:4em 0;
	}
.footer h3{
	color:#fff;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
	}
.footer p.para{
	color:#898989;
	font-size:14px;
	margin:1em auto 2em;
	text-align: center;
	line-height:1.8em;
	width:60%;
	}
.footer-grid p{
	color:#E0E0E0;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.footer-grid p a{
	color:#E0E0E0;
	display:block;
	margin:1em 0;
}
.footer-grid p a:hover{
	color:#fff;
}
.footer-contact input[type="text"]{
	outline:none;
	border:none;
	background:#fff;
	padding:13px 10px;
	font-size:14px;
	width:90.7%;
	float: left;
	margin:0 auto;
	}
.footer-contact form {
    background: #fff;
	padding: 10px 10px;
}
.footer-contact input[type="submit"]	{
	outline:none;
	background:url(../images/2.png) no-repeat 12px 11px #515C8E;
    color: #fff;
    font-size: 16px;
    width: 8%;
    padding: 12.4px 0;
	margin-left: .5em;
	border:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Gabriela', serif;
	}
.footer-contact input[type="submit"]:hover{
	color:#fff;
	background: url(../images/2.png) no-repeat 12px 11px #DF1728;
	}
.footer-contact{
	width:60%;
	margin:0 auto 5em;
	}
.footer-grid ul li{
	color:#fff;
	margin:0 0 1em;
}
.footer-grid ul li a{
	font-size:14px;
	color:#E0E0E0;
	text-decoration:none;
}
.footer-grid ul li a:hover{
	color:#fff;
}
.footer-copy{
	margin:2em 0 0;
	padding:2em 0;
	border-top:1px solid #464646;
	border-bottom:1px solid #464646;
}
.footer-copy p{
	color:#fff;
	text-align:center;
	margin:0;
	font-size:14px;
}
.footer-copy p a{
	color:#D8D8D8;
	text-decoration:none;
}
.footer-copy p a:hover{
	color:#fff;
}
.footer-grid-left{
	float:left;
	width:33.33%;
}
.footer-grid-left img {
    width: 100%;
	border:1px solid #fff;
}
.footer-grid ul {
    padding: 0 0 0 1em;
}
/*-- //footer --*/
/*-- copy-right --*/
.copy-right{
	background: #52334D;
	text-align: center;
}
.copy-right p{
	color:#6C5468;
}
.copy-right p a{
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.copy-right p a:hover{
	color:#6C5468;
}
.copy-right {
	padding: 1em 0;
}
/*-- //copy-right --*/
/*-- footer-top --*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.footer-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin:10px 1% 0;
	min-width: 280px;
    max-width: 357px;
	width: 48%;
	height: 225px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}
.footer-grids figure img.one{
	width:100%;
}
.footer-grids figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.footer-grids figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
}

.footer-grids figure figcaption::before,
.footer-grids figure figcaption::after {
	pointer-events: none;
}

.footer-grids figure figcaption,
.footer-grids figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
	background: #162633;
	text-align: left;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
}

figure.effect-winston figcaption::before {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    background-size: 100% 100%;
    content: '';
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    /* -webkit-transform: rotate3d(0,0,1,45deg); */
    /* transform: rotate3d(0,0,1,45deg); */
    /* -webkit-transform-origin: 0 100%; */
    /* transform-origin: 0 100%; */
}

figure.effect-winston h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-winston ul{
	position: absolute;
	right: 0;
	bottom: 8px;
	padding:0 1em 2% 0;
}

figure.effect-winston p {
    font-size: 14px;
    margin: 2em 0 0;
    text-transform: capitalize;
    line-height: 1.8em;
}

figure.effect-winston a:hover,
figure.effect-winston a:focus {
	color: #cc6055;
}

figure.effect-winston ul li a {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston:hover ul a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-----------------*/
ul.social_icons li {
    display: inline-block;
}
figure.effect-winston a.f1{
	background: url(../images/img-sp.png) no-repeat -6px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
figure.effect-winston a.f1:hover{
	background: url(../images/img-sp.png) no-repeat -6px -59px;
    display: block;
}
figure.effect-winston a.f2{
	background: url(../images/img-sp.png) no-repeat -49px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
figure.effect-winston a.f2:hover{
	background: url(../images/img-sp.png) no-repeat -49px -58px;
    display: block;
}
figure.effect-winston a.f3{
	background: url(../images/img-sp.png) no-repeat -88px -13px;
    display: block;
    height: 31px;
    width: 31px;
}
figure.effect-winston a.f3:hover{
	background: url(../images/img-sp.png) no-repeat -88px -58px;
    display: block;
}
/*-- //footer-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 44px;
	height:44px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat right top;
}
/*-- about --*/
.about-grd-main .overlay {
    display: block;
    position: absolute;
    height: 360px;
    width: 100%;
    top: 0;
    right: -100%;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
}
.about-grd-main {
    overflow: hidden;
    display: inline-block;
    position: relative;
	height: 360px;
}
.about-grd-main img {
    width: 100%;
}
.about-grd-main .overlay .arrow-left {
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    border-bottom: 360px solid transparent;
    border-right: 540px solid rgba(255,255,255,.95);
    background: rgb(81, 92, 142);
}
.about-grd-main .overlay .rectangle {
    display: block;
    margin-left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.95);
}
.about-grd-main .description {
    text-align: center;
    position: absolute;
    padding:75px 50px 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #cc6812;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.about-grd-main .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0;
}
.about-grd-main:hover .overlay {
    right: 0;
}
.about-grd-main:hover .description {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
}
.description h4{
	font-size: 2em;
    color: #DF1728;
    margin: 0;
}
.description p{
	margin:1em 0 0;
	color:#999;
	line-height:1.8em;
	font-size:14px;
}
p.leap{
	margin:2em 0 0;
	color:#999;
	line-height:1.8em;
	font-size:14px;
}
.type-1 {
	background: #096894;
}

.type-1 span {
	position: absolute;
    width: 40%;
    height: auto;
    display: block;
    color: #fff;
    font-size: 1em;
    top: 112%;
    opacity: 1;
    left: 3%;
    box-sizing: border-box;
    background: #DF1728;
    -moz-box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.type-1 span:last-of-type {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	background: #aaa;
}

.type-1:hover span:last-of-type {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	background:#515C8E;
	
}

.type-1:hover span:first-of-type {
	background: #073f58;
}
.about-bottom-grid-right h4{
	margin:1em 0 3em;
	color:#DF1728;
	font-size:1em;
	line-height:1.8em;
}
.progress1 {
    height: 35px;
    border-radius: 0;
    width: 85%;
	position:relative;
}
.progress-bar1 {
    background: #515C8E;
    font-size: 1em;
	line-height: 31px;
}
.party1 {
    position: absolute;
    right: 10%;
    top: 25%;
}
.party1 h5 {
    font-size: 1em;
    color: #999;
    margin: 0;
}
.about-bottom-grid-right p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}
.progress-grids{
	margin:0 0 2em;
}
.banner1-info{
	width:80%;
	margin:10em auto 0;
}
.banner1-info h3{
	font-size:2.5em;
	color:#fff;
	margin:0;
	line-height:1.5em;
	text-align:center;
}
/*-- //about --*/
/*--Typography--*/
h3.title,.about h3,.history h3{
	color:#804e20;
}
p.iste{
	color:#999;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #DF1728;
    letter-spacing: 1px;
    font-weight: 600;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
padding:0;
}
.in-gp-tb{
padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.caption span {
		margin: 0 0 1.5em;
	}
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- contact --*/
.contact-left iframe{
		width:100%;
		min-height:470px;
		border: 5px solid rgba(236, 236, 235, 0.48) !important;
	}
.contact-right input[type="text"],.contact-right textarea{
		outline:none;
		float: left;
		width:48.35%;
		outline: none;
		border:1px solid #E3E2E2;
		padding: 12px 10px;
		font-size: 14px;
		background: none;
		margin-right: 1.45em;
		color: #AEAEAE;
	}
.contact-right textarea{
		width:100%;
		resize:none;
		min-height: 250px;
	}
.contact-right input[type="submit"],.contact-right input[type="reset"]{
		width: 48.4%;
		background: none;
		color: #DF1728;
		font-size: 16px;
		padding: 12px 0;
		outline: none;
		border: 1px solid #DF1728;
		margin-top: 2em;
		font-family: 'Raleway', sans-serif;
		transition:.5s all;
		-webkit-transition:.5s all;
		-moz-transition:.5s all;
		-ms-transition:.5s all;
		-o-transition:.5s all;
	}
.contact-right input[type="reset"]{
		margin-left:1em;
	}
.contact-right input[type="submit"]:hover,.contact-right input[type="reset"]:hover{
		color:#fff;
		background: #515C8E;
		border: 1px solid #515C8E;
	}
.contact-right::-webkit-input-placeholder {
		color: #000 !important;
	}
.contact-grid{
		margin:3em 0 0;
	}
.contact-right input[type="text"]:nth-child(3),.contact-right input[type="text"]:nth-child(4){
	margin:1.5em 0;
	}
.contact-right input[type="text"]:nth-child(3){
	margin-right: 1.45em;
	}
.contact-right input[type="text"]:nth-child(2){
	margin-right: 0;
	}
.contact-bottom-grids p{
	text-align:center;
	margin:0 auto 3em;
	width:80%;
	font-size:14px;
	color:#999;
	line-height:1.8em;
}
.contact-bottom-grid{
	text-align:center;
}
.contact-bottom-grid h4,.contact-bottom-grid a{
	color:#999;
	margin:0;
	font-size:1.3em;
}
.contact-bottom-grid a:hover{
	color:#DF1728;
}
.contact-bottom-grid h4 span{
	display:block;
	margin:.5em 0 0;
}
.dot{
	width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #E1E1E1;
    margin: 0 auto 1em;
    background: #515C8E;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.dot span{
	font-size:3em;
	color:#fff;
	top:1em;
}
.contact-bottom-grid:hover .dot{
	background:#999;
}
/*-- //contact --*/
/*-- conference --*/
.conference-grid-left{
	float:left;
}
.conference-grid-left h4{
	font-size:1.5em;
	color:#999;
	margin:0;
}
.conference-grid-left h4 span{
	display:block;
	margin:.3em 0 0;
}
.conference-grids {
    margin: 3em 0 0;
}
.conference-grid-right{
	float:right;
	margin-right: 3em;
}
.conference-grid-right h5{
	font-size:3em;
	color:#eee;
	margin:0;
}
.conference-grid p{
	margin:1em 0;
	color:#999;
	line-height:1.8em;
	font-size:14px;
}
/*-- //conference --*/
/*-- gallery --*/
.gallery-grid{
	padding:0;
}
.gallery-grids{
	margin:3em 0 0;
}
.demo-3 {
    position:relative;
    width:265px;
    height:auto;
    overflow:hidden;
    float: none;
    margin-right: 0;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:0;
}
ul.demo-3 li {
    list-style-type: none;
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:0;
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.demo-3 figure h2 {
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-size:14px;
    line-height:1.8em;
    margin:1em 0 0;
    color:#fff;
    text-align:left;
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:15px 25px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}
.demo-3sub {
    width: 371px !important;
}
figcaption.sub {
    padding:100px 25px 0 !important;
}
/*-- //gallery --*/
/*-- single --*/
.sing-img-text h3{
	color:#42517B;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 1em 0 0;
}
p.est{
	color:#999;
	font-size: 14px;
	margin:1em 0 3em;
	font-style: normal;
	line-height: 1.8em;
}
p.est span{
	display:block;
	margin:1em 0;
}
.list ul{
	padding:1em 0;
	margin:0;
}
.list ul li{
	display:inline-block;
}
.list ul li a.a{
	background: url(../images/img-sp.png) no-repeat -89px -8px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.b{
	background: url(../images/img-sp.png) no-repeat -89px -58px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.c{
	background: url(../images/img-sp.png) no-repeat -89px -107px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.a:hover{
	background:url(../images/img-sp.png) no-repeat -11px -8px;
	display:block;
}
.list ul li a.b:hover{
	background:url(../images/img-sp.png) no-repeat -11px -58px;
	display:block;
}
.list ul li a.c:hover{
	background:url(../images/img-sp.png) no-repeat -11px -107px;
	display:block;
}
.media-body h4{
	color: #515C8E;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 0 1em;
}
.media-body a{
	font-size: 1em;
    color:#DF1728;
    text-decoration: none;
    text-align: right;
    display: block;
}
.media-body a:hover{
	color:#42517B;
	text-decoration:none;
}
.media-body{
	color:#999;
	font-size: 14px;
	margin: 1em 0 0;
	font-style: normal;
	line-height: 1.8em;
}
.leave-a-comment{
	background:#fff;
	padding:0 1em;
}
.com h3,.leave-a-comment h3{
	color:#DF1728;
    font-size: 1.5em;
    margin: 2em 0;
}
.search1 h3{
	color:#DF1728;
    font-size: 1.5em;
    margin: 0 0 2em;
}
.map h3{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	margin: 0 0 .5em;
	color: #9ec503;
}
.leave-a-comment input[type="text"],.leave-a-comment textarea,.leave-a-comment input[type="email"]{
	padding: 13px 10px;
    background: none;
    font-size: 14px;
    outline: none;
    border: 1px dotted #A9A9A9;
    color: #999;
	}
.leave-a-comment input[type="text"],.leave-a-comment input[type="email"]{
	float:left;
	width:31.3%;
	}
.leave-a-comment textarea{
	resize:none;
	height:200px;
	width:100%;
	margin:1.5em 0;
	}
.leave-a-comment input[type="submit"]{
	background:#DF1728;
    color: #fff;
    font-size: 1em;
	outline:none;
	border:none;
	width: 18%;
	display: block;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	padding: 10px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	}
.leave-a-comment input[type="submit"]:hover{
	background:#42517B;
	}
.leave-a-comment input[type="email"]{
	margin: 0 2.4em;
	}
.contact-design p.dr-text {
	width: 76%;
}
.contact-rd-more {
	margin: 3em 0;
}
.contact-rd-more a{
	color: white;
	border-color: white;
}
.media-left {
  width: 10%;
}
.search1 input[type="email"] {
	border: 1px solid #E7E7E7;
    outline: none;
    width: 100%;
    background: none;
    color: #999;
    padding: 10px;
    font-size: 14px;
}
.search1 input[type="submit"] {
	background: #515C8E;
    color: #fff;
    font-size: 16px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    border: none;
    outline: none;
    width: 40%;
    padding: 8px 0;
    margin: 1em 0 3em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    letter-spacing: 1px;
}
.search1 input[type="submit"]:hover{
	background:#DF1728;
	color:#fff;
}
.categories ul {
  padding: 0;
  margin: 0;
}
.categories ul li {
	list-style-type: none;
    background: url(../images/3-.png) no-repeat 0px 7px;
    display: block;
    padding-left: 2em;
    margin: 1em 0;
    color: #999;
    font-size: 14px;
}
.categories ul li a {
	color: #999;
    font-size: 14px;
	text-decoration:none;
	letter-spacing:1px;
}
.categories ul li a:hover{
	text-decoration:none;
	color: #000;
}
.categories-mid {
  margin: 5em 0 0;
}
.categories h3,.related-posts h3 {
	color:#DF1728;
    font-size: 1.3em;
    text-transform: capitalize;
    margin: 0 0 1em;
}
.related-post-left{
	float:left;
	width:30%;
}
.related-post-right{
	float:right;
	width:65%;
}
.related-post{
	margin:2.5em 0;
}
.categories-mid ul li:nth-child(6) {
  margin-bottom: 5em;
}
.related-post-right h4{
	margin:0 0 1em;
}
.related-post-right h4 a{
	color: #42517B;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.related-post-right h4 a:hover{
	text-decoration:none;
	color:#000;
}
.related-post-right p {
	color: #999;
    font-size: 14px;
    margin: 1em 0 0;
    font-style: normal;
    line-height: 1.8em;
}
/*-- //single --*/
/*--Responsive--*/
@media (max-width:1366px){
	.banner-info {
		padding: 27em 0 0;
	}
	.banner {
		min-height: 670px;
	}
}
@media (max-width:1280px){
	.logo {
		width: 16%;
	}
}
@media (max-width:1024px){
	.navbar-default .navbar-nav > li:nth-child(4) {
		margin: 0 .5em 1em 14em;
	}
	.navbar-default .navbar-nav > li {
		margin: 0 0.8em 1em;
	}
	.banner-info {
		padding: 18em 0 0;
		width: 90%;
	}
	.banner {
		min-height: 510px;
	}
	.banner-bottom1-left {
		padding: 3em 0;
	}
	.about-grid1 .thumb:hover .caption {
		padding: 25px 16px;
	}
	.banner-bottom, .wlcome, .single, .footer-top, .about, .about-bottom, .typo, .contact, .contact-bottom, .conference {
		padding: 4em 0;
	}
	.resp-tab-item {
		font-size: 1em;
		padding: 12px 32px;
	}
	.wlcome-grid-left-grid h4 {
		font-size: 1.1em;
		margin: 0;
	}
	.footer-grids figure {
		max-width: 294px;
	}
	.footer-grids figure figcaption {
		padding: 1em;
		font-size: 1em;
	}
	.footer-contact {
		width: 68%;
	}
	.banner1-info h3 {
		font-size: 2em;
	}
	.banner1-info {
		margin: 8em auto 0;
	}
	.banner1 {
		min-height: 395px;
	}
	.about-grd-main {
		height: 295px;
	}
	.about-grd-main .overlay {
		height: 295px;
	}
	.about-grd-main .description {
		padding: 45px 25px 0px;
	}
	.wlcome-grid-left h3, .services h2, .gallery h3, .about-grd h3, .about-bottom-grid-right h3, h3.title, .contact h3, .conference h3 {
		font-size: 1.6em;
	}
	.wlcome-grid-left h3:before, .services h2:before, .gallery h3:before, .about-grd h3:before, .conference h3:before, .contact h3:before, .about-bottom-grid-right h3:before, h3.title:before {
		height: 30px;
	}
	.conference-grid-left h4 {
		font-size: 1.3em;
	}
	.demo-3 {
		width: 216px;
	}
	.demo-3 figure figcaption {
		padding: 15px 14px;
	}
	.demo-3 figure p {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.demo-3sub {
		width: 302px !important;
	}
	figcaption.sub {
		padding: 75px 25px 0 !important;
	}
	.contact-right input[type="text"], .contact-right textarea {
		margin-right: 1.2em;
	}
	.contact-right input[type="text"]:nth-child(3) {
		margin-right: 1.2em;
	}
	.contact-right input[type="submit"], .contact-right input[type="reset"] {
		width: 48%;
	}
	.contact-bottom-grids p {
		width: 100%;
	}
	.dot span {
		font-size: 2em;
	}
	.dot {
		width: 115px;
		height: 115px;
		border: 3px solid #E1E1E1;
	}
	.contact-bottom-grid h4, .contact-bottom-grid a {
		font-size: 1em;
	}
}
@media (max-width:768px){
	.navbar-default .navbar-nav > li > a {
		font-size: 1em;
		padding: 30px 5px 10px;
	}
	.navbar-default .navbar-nav > li:nth-child(3) {
		margin:0 0em 0em 1em;
	}
	.navbar-default .navbar-nav > li:nth-child(4) {
		margin: 0 .5em 0em 10em;
	}
	.navbar-default .navbar-nav > li {
		margin: 0 0.7em 0em;
	}
	.logo {
		width: 20%;
		top: -14px;
		right: 3%;
	}
	.dummy_text h1 {
		font-size: 1.5em;
		padding-left: 1.5em;
	}
	.dummy_text {
		padding: 1.5em;
	}
	.dummy_text h1:before {
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
		width: 30px;
		height: 25px;
	}
	.banner {
		min-height: 450px;
	}
	.banner-bottom1-left {
		float: left;
		width: 33.33%;
	}
	.banner-bottom1-left h3 {
		font-size: 1.2em;
	}
	.banner-bottom1-left span {
		font-size: 1.6em;
	}
	.banner-bottom1-left p {
		width: 80%;
		margin: 0 auto;
	}
	.about-grid {
		float: left;
		width: 33.33%;
	}
	.caption h3 a {
		font-size: .8em;
	}
	.caption p {
		margin: 0;
	}
	.wmuSliderPagination {
		bottom: 3%;
	}
	.about-grid1 .thumb .caption {
		padding: 18px 30px;
	}
	.banner-wrap {
		padding: 0 0 2em;
	}
	.wlcome-grid-left-grid:nth-child(3) {
		margin: 2em 0;
	}
	.resp-tab-item {
		padding: 12px 114.5px;
	}
	.tab_list1 {
		margin: 2.5em 0 0;
	}
	.footer-grids figure {
		max-width: 225px;
		min-width: 180px;
		height: 180px;
	}
	figure.effect-winston h2 {
		font-size: 1.3em;
	}
	.services {
		padding: 4em 0;
	}
	.footer {
		padding: 3em 0;
	}
	.footer p.para {
		width: 85%;
	}
	.footer-contact {
		width: 88%;
		margin: 0 auto 3em;
	}
	.footer-grid:nth-child(1) {
		float: none;
		width: 100%;
		margin:0 0 1em;
	}
	.footer-grid{
		float: left;
		width:50%;
	}
	.footer-grid:nth-child(3) {
		margin:0 0 4em;
	}
	.banner1-info {
		margin:6em auto 0;
		width: 100%;
	}
	.banner1-info h3 {
		font-size: 1.8em;
	}
	.banner1 {
		min-height: 300px;
	}
	.about-grd-main .overlay .arrow-left {
		border-bottom: 295px solid transparent;
		border-right: 640px solid rgba(255,255,255,.95);
	}
	.about-grd:nth-child(2) {
		margin: 2em 0 0;
	}
	.about-bottom-grid-right{
		float: left;
		width: 80%;
	}
	.about-bottom-grid-left {
		float: left;
		width: 20%;
	}
	.progress-bar1 {
		font-size: .8em;
		line-height: 27px;
	}
	.progress1 {
		height: 30px;
	}
	.party1 {
		right: 6%;
		top: 18%;
	}
	.conference-grids {
		margin: 2em 0 0;
	}
	.conference-grid {
		margin-bottom: 6em;
	}
	.type-1 span {
		width: 28%;
	}
	.banner-bottom, .wlcome, .single, .footer-top, .about, .about-bottom, .typo, .contact, .contact-bottom, .conference {
		padding: 3em 0;
	}
	.gallery-grid {
		float: left;
		width: 50%;
	}
	.demo-3 {
		width: 345px;
	}
	.demo-3 figure figcaption {
		padding: 35px 30px;
	}
	.demo-3sub {
		width: 345px !important;
		height:auto !important;
	}
	.demo-3sub img{
		width:100%;
	}
	.demo-3 {
		width: 345px;
		height: 164px;
	}
	.demo-3 img{
		width:100%;
	}
	.about-bottom-grids {
		margin: 2em 0 0;
	}
	.contact-grid {
		margin: 2em 0 0;
	}
	.contact-left iframe {
		min-height: 320px;
	}
	.contact-left {
		margin: 0 0 2em;
	}
	.contact-bottom-grid {
		float: left;
		width: 33.33%;
	}
	.categories-mid {
		margin: 3em 0 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"] {
		width: 30.6%;
	}
	.leave-a-comment input[type="email"] {
		margin: 0 2em;
	}
	.leave-a-comment input[type="submit"] {
		width: 30%;
	}
}
@media (max-width: 767px){
	.logo {
		width: 23%;
		top: -14px;
		right: 0%;
		margin: 0;
		left: 3%;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: transparent;
	}
	.navbar-toggle {
		margin-top: 12px;
		margin-right: 7px;
		margin-bottom: 0;
	}
	.navbar-default .navbar-nav > li {
		margin: 0;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 15px 0;
		text-align: center;
	}
	.navbar-nav {
		margin: 2em 0 0;
		background: rgb(0, 0, 0);
	}
	.navbar-default .navbar-nav > li:nth-child(3) {
		margin: 0;
	}
	.navbar-default .navbar-nav > li:nth-child(4) {
		margin: 0;
	}
	ul.multi-column-dropdown {
		background: #fff;
		width: 25%;
		margin: 0 auto;
	}
	ul.multi-column-dropdown li a {
		padding: 0.8em 1.5em;
	}
	.dropdown-menu .divider {
		margin: 4px 0;
	}
	.navbar-collapse {
		box-shadow: none;
	}
}
@media (max-width:640px){
	.dummy_text h1 {
		font-size: 1.3em;
	}
	.banner-info {
		padding: 16em 0 0;
		width: 94%;
	}
	.banner {
		min-height: 405px;
	}
	.logo {
		width: 25%;
	}
	.about-grid {
		float: none;
		width: 60%;
		margin: 0 auto 2em;
	}
	.banner-bottom, .wlcome, .single, .footer-top, .about, .about-bottom, .typo, .contact, .contact-bottom, .conference {
		padding: 2em 0;
	}
	.wlcome-grid-left h3, .services h2, .gallery h3, .about-grd h3, .about-bottom-grid-right h3, h3.title, .contact h3, .conference h3 {
		font-size: 1.5em;
	}
	.wlcome-grid-left-grid {
		padding: 0;
	}
	.services h5 {
		font-size: 14px;
	}
	.panel-title {
		font-size: 1em;
	}
	.services {
		padding: 4em 0 2em;
	}
	.resp-tab-item {
		padding: 12px 82.5px;
	}
	.tab_list1 {
		margin: 2em 0 0;
	}
	.footer-grids figure {
		max-width: 365px;
		min-width: 350px;
		height: auto;
		margin: 0 auto 2em;
		float: none;
	}
    .footer-contact input[type="text"] {
		width: 88%;
    }
	.media-left {
		width: 16%;
	}
	.leave-a-comment input[type="email"] {
		margin: 0 1.6em;
	}
	.footer-contact input[type="submit"] {
		width: 10%;
	}
	.sing-img-text h3 {
		font-size: 1.3em;
	}
	.demo-3sub img {
		height: 328px;
	}
	.demo-3sub {
		width: 280px !important;
	}
	.demo-3 {
		width: 282px;
	}
	ul.multi-column-dropdown {
		width: 30%;
	}
	.banner1-info h3 {
		font-size: 1.5em;
	}
	.banner1 {
		min-height: 250px;
	}
	.about-grd-main .overlay .arrow-left {
		border-bottom: 295px solid transparent;
		border-right: 563px solid rgba(255,255,255,.95);
	}
	.about-bottom-grid-right {
		float: none;
		width: 100%;
	}
	.about-bottom-grids {
		margin: 3em 0 0;
	}
	.about-bottom-grid-right h4 {
		margin: 1em 0 2em;
	}
	.about-bottom-grid-left {
		float: none;
		width: 100%;
		margin: 2em auto 0;
	}
	.about-bottom-grid-left img{
		margin:0 auto;
	}
}
@media (max-width:480px){
	.logo {
		width: 30%;
	}
	.dummy_text {
		padding: 1em;
	}
	.dummy_text h1 {
		font-size: 1.1em;
	}
	.banner-info {
		padding: 12em 0 0;
		width: 95%;
	}
	.banner {
		min-height: 310px;
	}
	.about-grid {
		width: 70%;
	}
	.wlcome-grid-left-grid:nth-child(2) {
		padding: 0 0em 0 1em;
	}
	.wlcome-grid-left-grid h4 {
		font-size: 1em;
	}
	.wlcome-grid-left h3, .services h2, .gallery h3, .about-grd h3, .about-bottom-grid-right h3, h3.title, .contact h3, .conference h3 {
		font-size: 1.3em;
		padding-left: 0.8em;
		line-height: 1.5em;
	}
	.wlcome-grid-left h3:before, .services h2:before, .gallery h3:before, .about-grd h3:before, .conference h3:before, .contact h3:before, .about-bottom-grid-right h3:before, h3.title:before {
		height: 24px;
	}
	.tab_list1 {
		margin: 0;
	}
	.footer-contact input[type="text"] {
		width: 85%;
	}
	.footer-contact input[type="submit"] {
		width: 12%;
		background: url(../images/2.png) no-repeat 8px 11px #515C8E;
	}
	.footer-contact input[type="submit"]:hover {
		background: url(../images/2.png) no-repeat 8px 11px #DF1728;
	}
	.footer {
		padding: 2em 0;
	}
	.footer p.para {
		width: 100%;
	}
	.footer-copy {
		margin: 1em 0 0;
		padding: 1em 0;
	}
	ul.multi-column-dropdown {
		width: 45%;
	}
	.banner1-info h3 {
		font-size: 1.2em;
	}
	.about-grd-main,.about-grd-main .overlay {
		height: 268px;
	}
	.description h4 {
		font-size: 1.5em;
	}
	.about-grd-main .overlay .arrow-left {
		border-bottom: 268px solid transparent;
		border-right: 404px solid rgba(255,255,255,.95);
	}
	.type-1 span {
		width: 35%;
		font-size: 14px;
	}
	.about-bottom-grid-right h4 {
		font-size: 14px;
	}
	.party1 h5 {
		font-size: 14px;
	}
	.party1 {
		right: 3%;
		top: 26%;
	}
	.gallery-grid {
		float: none;
		width: 100%;
	}
	.demo-3 {
		width: 403px;
		height: auto;
	}
	.demo-3 figure figcaption {
		padding: 90px 30px;
	}
	.demo-3sub {
		width: 403px !important;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"] {
		width: 100%;
	}
	.com h3, .leave-a-comment h3 {
		margin: 1em 0px 1em;
	}
	.leave-a-comment input[type="email"] {
		margin: 1em 0;
	}
	.leave-a-comment input[type="submit"] {
		width: 40%;
	}
	.contact-left iframe {
		min-height: 235px;
	}
	.contact-right input[type="text"], .contact-right textarea {
		margin-right: 0;
	}
	.contact-right input[type="text"], .contact-right textarea {
		float: none;
		width: 100%;
	}
	.contact-right input[type="text"]:nth-child(2) {
		margin:1em 0;
	}
	.contact-right input[type="text"]:nth-child(3) {
		margin: 1em 0;
	}
	.contact-right input[type="text"]:nth-child(3), .contact-right input[type="text"]:nth-child(4) {
		margin: 0 0 1em;
	}
	.contact-right textarea {
		min-height: 170px;
	}
	.contact-right input[type="submit"], .contact-right input[type="reset"] {
		margin-top: 1em;
		width: 47%;
	}
	.contact-bottom-grid {
		float: none;
		width: 100%;
		margin: 0 0 2em;
	}
}
@media (max-width:414px){
	.header_bottom {
		background: url(../images/vect.png);
		height: 20px;
		background-size: 18%;
	}
	.banner-info {
		padding: 10em 0 0;
	}
	.about-grid {
		width: 85%;
	}
	.wlcome-grid-left-grid {
		float: none;
		width: 100%;
		margin: 0 0 2em;
	}
	.wlcome-grid-left-grid:nth-child(2) {
		padding: 0;
	}
	.services {
		padding: 0em 0 2em;
	}
	.panel-title {
		font-size: .9em;
	}
	.panel-heading {
		padding: 0.5em 0;
	}
	.upcoming h4, .video h4 {
		font-size: 1.2em;
	}
	.upcoming h4:before, .video h4:before {
		height: 27px;
	}
	.upcoming ul li a {
		font-size: 1em;
	}
	.footer-grids figure {
		max-width: 345px;
		min-width: 285px;
	}
	.footer-contact {
		width: 100%;
	}
	.footer-contact input[type="text"] {
		width: 84%;
	}
	.footer-contact input[type="submit"] {
		width: 13%;
	}
	.footer-contact {
		margin: 0 auto 2em;
	}
	.footer-grid {
		float: none;
		width: 100%;
	}
	.footer-grid:nth-child(3) {
		margin: 2em 0;
	}
	.footer-grid:nth-child(4) {
		margin: 0em 0 2em;
	}
	.about-grd-main, .about-grd-main .overlay {
		height: 225px;
	}
	.about-grd-main .description {
		padding: 8px 10px 0px;
	}
	.gallery-grids {
		margin: 2em 0 0;
	}
	.demo-3 {
		width: 336px;
	}
	.demo-3 figure figcaption {
		padding: 65px 30px;
	}
	.demo-3sub {
		width: 336px !important;
	}
	figcaption.sub {
		padding: 95px 25px 0 !important;
	}
	.services1 {
		padding: 2em 0 2em;
	}
	.sing-img-text,.sing-img-text-left,.contact-left,.contact-right {
		padding: 0;
	}
	p.leap {
		margin: 1em 0 0;
	}
	.type-1 span {
		top: 105%;
	}
	.about {
		padding: 2em 0 1em;
	}
	.com h3, .leave-a-comment h3 {
		font-size: 1.3em;
	}
	.leave-a-comment {
		padding: 0;
	}
}
@media (max-width:375px){
	.logo {
		width: 35%;
	}
	.header_bottom {
		background: url(../images/vect.png);
		height: 19px;
		background-size: 18%;
	}
}
@media (max-width: 320px){
	.logo {
		width: 38%;
	}
	.header_bottom {
		background: url(../images/vect.png);
		height: 18px;
		background-size: 20%;
	}
	.navbar-toggle {
		margin-top: 10px;
		margin-right: 0;
	}
	.dummy_text h1 {
		font-size: 14px;
	}
	.dummy_text h1:before {
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
		width: 20px;
		height: 18px;
	}
	.banner-info {
		padding: 7em 0 0;
		width: 100%;
	}
	.banner {
		min-height: 235px;
	}
	.banner-bottom1-left {
		float: none;
		width: 100%;
	}
	.banner-bottom1-left {
		padding: 2.5em 0 2em;
	}
	.banner-bottom1-left h3 {
		font-size: 1em;
		margin: 0;
	}
	.banner-bottom1-left p,.caption p {
		font-size: 13px;
	}
	.dummy_text {
		background: rgba(255, 255, 255, 0.54);
	}
	.about-grid {
		width: 100%;
	}
	.about-grid1 .thumb .caption {
		padding: 9px 0px 0;
	}
	.caption span {
		margin: 0 0 0.5em;
	}
	.about-grid1 .thumb .caption {
		padding: 9px 0px 0;
	}
	.about-grid1 .thumb:hover .caption {
		padding: 12px 12px;
	}
	.wlcome-grid-left,.wlcome-grid-right,.conference-grid {
		padding: 0;
	}
	.conference-grid p {
		margin: 1em 0 1em;
		font-size: 13px;
	}
	.conference-grid-right {
		margin-right: 0em;
	}
	.related-post-right p {
		font-size: 13px;
		margin: 0;
	}
	.related-post {
		margin: 1.5em 0;
	}
	.leave-a-comment textarea {
		height: 160px;
	}
	.leave-a-comment input[type="submit"] {
		font-size: 14px;
		width: 60%;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"] {
		font-size: 13px;
		padding: 10px;
	}
	.conference-grid {
		margin-bottom: 4em;
	}
	.demo-3 {
		width: 272px;
	}
	.demo-3 figure figcaption {
		padding: 30px 23px 0;
	}
	.contact-right input[type="text"], .contact-right textarea {
		font-size: 13px;
		padding: 10px;
	}
	.contact-right input[type="submit"], .contact-right input[type="reset"] {
		margin-top: 1em;
		width: 100%;
		font-size: 14px;
		padding: 10px 0;
	}
	.contact-right input[type="reset"] {
		margin-left: 0;
	}
	.contact-bottom-grids p {
		margin: 0 auto 2em;
		font-size: 13px;
	}
	.contact-bottom-grid h4, .contact-bottom-grid a {
		font-size: 14px;
	}
	.demo-3sub {
		width: 272px !important;
	}
	.search1 input[type="email"],.categories ul li a {
		font-size: 13px;
	}
	.search1 input[type="submit"] {
		font-size: 14px;
	}
	.conference-grid-left h4 {
		font-size: 1.1em;
	}
	.search1 h3 {
		font-size: 1.3em;
		margin: 0 0 1em;
	}
	.search1 {
		margin: 2em 0 0;
	}
	.wlcome-grid-left-grid:nth-child(3) {
		margin: 1em 0;
	}
	.wlcome-grid-left-grid p,.footer-copy p,.about-bottom-grid-right p,p.leap,.nihil,.panel-body,.figure.effect-winston p,.footer-grid p,.footer-grid ul li a {
		font-size: 13px;
	}
	.com h3, .leave-a-comment h3 {
		font-size: 1.2em;
	}
	.media-body {
		font-size: 13px;
		margin: 0;
	}
	.media-body a {
		text-align: left;
	}
	.media-left {
		width: 30%;
	}
	.sing-img-text h3 {
		font-size: 1.2em;
		line-height: 1.5em;
	}
	p.est {
		font-size: 13px;
		margin: 0.5em 0 0em;
	}
	ul.multi-column-dropdown li a {
		font-size: 13px;
	}
	ul.multi-column-dropdown {
		width: 65%;
	}
	.banner1-info {
		margin: 4em auto 0;
	}
	.type-1 span {
		padding: 7px 0;
		width: 50%;
	}
	.about-grd,.about-bottom-grid-right,.about-bottom-grid-left {
		padding: 0;
	}
	.about-bottom-grid-right h4 {
		margin: .5em 0 1em;
		font-size: 13px;
	}
	.progress1 {
		width: 100%;
	}
	.progress-grids {
		margin: 0 0 1.5em;
	}
	.description p {
		font-size: 12px;
		margin: 0.3em 0 0;
	}
	.description h4 {
		font-size: 1.1em;
	}
	.about-grd-main, .about-grd-main .overlay {
		height: 182px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 10px 0;
	}
	.wlcome-grid-left-grid {
		margin: 0 0 1em;
	}
	.services h5 {
		font-size: 13px;
		margin: 0.5em 0;
	}
	h4.panel-title {
		line-height: 1.5em;
	}
	.facts {
		padding: 0.5em;
	}
	.tab_list1 p span {
		margin: 5px 0 0;
	}
	.video iframe {
		min-height: 250px;
	}
	.footer h3 {
		font-size: 1.3em;
	}
	.footer p.para {
		font-size: 13px;
		margin: .5em 0 1em;
	}
	.footer-contact input[type="text"] {
		width: 100%;
		background: #F7F7F7;
		padding: 10px;
		font-size: 13px;
	}
	.footer-contact input[type="submit"] {
		margin: 0;
		width: 20%;
	}
	.footer-contact {
		margin: 0 auto 1.5em;
	}
	.footer-grid ul li {
		margin: 0 0 0.5em;
	}
	.footer-grid:nth-child(3) {
		margin: 1em 0;
	}
	.footer-grid:nth-child(4) {
		margin: 0em 0 1em;
	}
}
