body {
    font-family: 'lato', sans-serif;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .button-secondary {
    color: rgb(0, 0, 0);
    border:1px solid black;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}
  

.button-secondary:disabled,
button-secondary[disabled]{
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: rgb(255, 255, 255);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ccc5c5;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 30%;
    }
    .col-4 {
      flex-basis: 20%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 5px 0;
        &:before {col col-4
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }