<div class="form-style-5">
  <form (submit)="voterUploader($event)">
  <fieldset>
  <legend><span class="number">1</span> Voter Details</legend>
  <input type="text" id="vo_name" placeholder="voter Name *">
  </fieldset>
  <fieldset>
  <legend><span class="number">2</span> Voters ID</legend>
  <input type="text" id="vo_id" placeholder="ID">
  <select id="vo_station" name='LAC's>
    <option value="ATTINGAL01">ATTINGAL </option>
    <option value="CHIRAYINKEEZHU02">CHIRAYINKEEZHU </option>
    <option value="NEDUMANGAD03">NEDUMANGAD </option>
    <option value="VAMANAPURAM04">VAMANAPURAM </option>
  </select>
  <input type="password" id="vo_password" placeholder="Password">
  </fieldset>
  <input type="submit" value="SUBMIT" />
  </form>
  </div>