<div class="form-style-5">
  <form (submit)="CandidateUploader($event)">
  <fieldset>
  <legend><span class="number">1</span> Candidate Details</legend>
  <input type="text" id="ca_name" placeholder="Candidate Name *">
  <input type="text" id="ca_id" placeholder="Representational sign">
  <select id="station" name='LAC's>
    <option value="ATTINGAL01">ATTINGAL </option>
    <option value="CHIRAYINKEEZHU02">CHIRAYINKEEZHU </option>
    <option value="NEDUMANGAD03">NEDUMANGAD </option>
    <option value="VAMANAPURAM04">VAMANAPURAM </option>
  </select>
  </fieldset>
  <input type="submit" value="SUBMIT" />
  </form>
  </div>